<html>
    <head>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/style_home.css" rel="stylesheet">
        
        <title>UFCFVN-30-M CNS Firewall Evasion Lab</title>
    </head>
    <body>
               
        <div class='h-100 d-flex justify-content-center align-items-center'>
            <div class='text-center'>
                <div id='main'></div>

                <p>Reached the Internal Site via Tunnelling!</p>
            </div>
        </div>
        <script src="js/bootstrap.js"></script>
        <script src="js/jquery.js"></script>
        <script src="js/script.js"></script>
    </body>
</html>