<html>
    <head>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/style_home.css" rel="stylesheet">
        
        <title>Firewall Evasion Lab</title>
    </head>
    <body>
        <nav class="navbar fixed-top navbar-light" style="background-color: #1f808c;">
            <a class="navbar-brand" href="#" ><img src="UWE_Logos.png" style="height: 47px; width: 194px;" alt="UWE"></a>
        </nav>
                
        <div class='h-100 d-flex justify-content-center align-items-center'>
            <div class='text-center'>
                <div id='message'></div>

                <div class='d-block'>
                    <input class="form-control form-control-lg mb-2" id='name' placeholder='What is your command?'>
                    <button onclick='submitForm()' class='button btn-info btn-lg btn-block'>Submit Form</button>
                </div>
            </div>
        </div>
        <script src="js/bootstrap.js"></script>
        <script src="js/jquery.js"></script>
        <script src="js/script.js"></script>
    </body>
</html>